#master.component
	.title
		| Master Inputs

	// PORTS
	#sequencer-inputs.inputs
		#rhythm-input.input(data-connection-id="#{rhythmInputId}")
			.port
			| Rhythm
		#pitch-input.input(data-connection-id="#{pitchInputId}")
			.port
			| Pitch

	// CONTROLS
	form.component-controls.master-controls
		.scale-bias
			label
				input(type="number", name="type", value="#{scaleBias}", min="-6", max="6") 
				| Scale Bias
		.scale-resolution
			label
				input(type="number", name="type", value="#{scaleResolution}", min="1", max="7") 
				| Scale Resolution
		.num-octaves
			label
				input(type="number", name="type", value="#{numOctaves}", min="1", max="9") 
				| Number of Octaves
		.base-octave
			label
				input(type="number", name="type", value="#{baseOctave}", min="0", max="9") 
				| Base Octave
		.displays
			//- .rhythm-display
			//- 	h3 Output Waveform
			//- 	svg.waveform
			//- .pitch-display
			//- 	h3 Output Waveform
			//- 	svg.waveform