.oscillator.component
	.remove-button.fa.fa-close
	.title
		| Oscillator

	// PORTS
	.inputs
		.add-input.input(data-connection-id="#{addInputId}")
			.port
			| Add
		.multiply-input.input(data-connection-id="#{multiplyInputId}")
			.port
			| Multiply

	.outputs
		.output(data-connection-id="#{outputId}")
			.port
			| Output

	// CONTROLS
	form.component-controls.oscillator-controls
		.amplitude-input
			label
				input(type="number", min="-1", max="1", step="0.01", value="#{amplitude}")
				| Amplitude
		.frequency-input
			label
				input(type="number", min="-24", max="24", step="0.01", value="#{frequency}")
				| Frequency
		.offset-input
			label
				input(type="number", min="-24", max="24", step="0.01", value="#{offset}")
				| Offset
		.displays
			.output-display
				h3 Output Waveform
				svg.waveform
			.oscillation-display
				h3 Oscillator Waveform
				//shows waveform for length of this pattern
				svg.waveform