a.share-icon.facebook(href="http://www.facebook.com/sharer.php?u=#{encodeURIComponent(meta.url)}")
a.share-icon.twitter(href="http://twitter.com/share?text=#{encodeURIComponent(meta.url)}&url=#{encodeURIComponent(meta.twitter.description)}")
a.share-icon.tumblr(href="http://www.tumblr.com/share/link?url=#{encodeURIComponent(meta.url)}&name='#{encodeURIComponent(meta.tumblr.title)}&description=#{encodeURIComponent(meta.tumblr.description)}")
a.share-icon.pinterest(href="http://pinterest.com/pin/create/button/?url=#{encodeURIComponent(meta.url)}")
a.share-icon.google-plus(href="https://plus.google.com/share?url=#{encodeURIComponent(meta.url)}")